# OS
.DS_Store
.Rhistory
.RData
.Rproj.user/
__pycache__/
*.pyc
*.pdf

# Envs
.venv/

# Results and temp
results/**
!results/.gitkeep
tmp/**
**/tmp_*

# IDE
.vscode/
.idea/

/g1000_eur.bed
/g1000_eur.fam
/g1000_eur.bim

/genotype.bed
/genotype.fam
/genotype.bim

results_geno/
results_panel/
test/
scripts/
LAVAKnock/